/**
 designer breakpoints:
 desktop 1920x1080    >  1600 (3xl)
 desktop 1680x1050    <= 1600 (2xl)
 macbook 1240x800     >= 1200 (xl)
 tablet-h 1024x768    >= 992 (lg)
 tablet-v 760x1024    >= 768 (md)
 phone 480x760        >= 576 (sm)
 phone 320x480        < 576 (xs)
 */

$media-breakpoints: (
  xs: 320px,
  xs-max: 479px,
  sm: 480px,
  sm-max: 759px,
  md: 760px,
  md-max: 991px,
  lg: 992px,
  lg-max: 1239px,
  xl: 1240px,
  xl-max: 1599px,
  xxl: 1600px,
);

@function breakpoint-min($name, $breakpoints: $media-breakpoints) {
  $min: map-get($breakpoints, $name);
  @return if($min != 0, $min, null);
}

@mixin media-breakpoint($name, $breakpoints: $media-breakpoints) {
  $max: map-get($breakpoints, $name);
  @if $max {
    @media all and (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-min($name, $breakpoints: $media-breakpoints) {
  $min: breakpoint-min($name, $breakpoints);
  @if $min {
    @media all and (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}
