@import url('https://unpkg.com/normalize.css@8.0.1');

@import 'fonts';
@import 'variables.module';
@import 'breakpoints';

body {
  color: $color-text-primary;
  font-family: $font-family-base;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include media-breakpoint-min(lg) {
    font-size: 16px;
    line-height: 1.5rem;
  }
}

html,
body {
  width: 100%;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5em;
  margin: 0 0 20px 0;

  @include media-breakpoint-min(sm) {
    font-size: 26px;
    margin-bottom: 30px;
  }

  @include media-breakpoint-min(md) {
    font-size: 32px;
    margin-bottom: 40px;
  }

  @include media-breakpoint-min(lg) {
    font-size: 36px;
  }

  @include media-breakpoint-min(xl) {
    font-size: 40px;
  }
}

h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;

  @include media-breakpoint-min(sm) {
    font-size: 24px;
    line-height: 32px;
  }

  @include media-breakpoint-min(md) {
    font-size: 28px;
    line-height: 36px;
  }
}

h3 {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;

  @include media-breakpoint-min(md) {
    font-size: 18px;
    line-height: 24px;
  }

  @include media-breakpoint-min(xl) {
    font-size: 22px;
    line-height: 30px;
  }
}

// disable autofill styles
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
